@{
    Layout = "~/Views/Shared/Assessor.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h3>Company List Management</h3>
                <p class="category">Adding &amp; Editing Users</p>
            </div>
            <div class="content">
                <a href="#" class="btn btn-default float_r" data-toggle="modal" data-target="#myModal">Create New Use &nbsp; <i class="fa fa-plus"></i></a>
                <p>&nbsp;</p>
                <div id="record-filters" class="btn-group" data-toggle="buttons" style="margin-top: 20px; margin-bottom: 20px">
                    <label id="gridDisplayDeadLabel" class="btn btn-primary">
                        <input type="radio" name="GridDisplay" id="gridDisplayCompleted" autocomplete="off" value="Completed" /> Completed
                    </label>
                    <label id="gridDisplayAliveLabel" class="btn btn-primary">
                        <input type="radio" name="GridDisplay" id="gridDisplayProgress" autocomplete="off" value="In Progress" /> In Progress
                    </label>
                    <label id="gridDisplayAliveLabel" class="btn btn-primary">
                        <input type="radio" name="GridDisplay" id="gridDisplayReviewed" autocomplete="off" value="Reviewed" /> Reviewed
                    </label>
                    <label id="gridDisplayAllLabel" class="btn btn-primary active">
                        <input type="radio" name="GridDisplay" id="gridDisplayAll" autocomplete="off" value="all" /> All
                    </label>
                </div>
                <table class="display table-striped table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Award Category</th>
                            <th>Status</th>
                            <th>View Report</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Company Name</th>
                            <th>Award Category</th>
                            <th>Status</th>
                            <th>View Report</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>ABC Company</td>
                            <td>Corporate Governance</td>
                            <td>Completed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Impact of Investment</td>
                            <td>In Progress</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Gender Equality</td>
                            <td>Reviewed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Innovation</td>
                            <td>Reviewed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Sustainablity</td>
                            <td>In Progress</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Corporate Social Responsiblity</td>
                            <td>Completed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Corporate Governance</td>
                            <td>Completed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Impact of Investment</td>
                            <td>In Progress</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Gender Equality</td>
                            <td>Reviewed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Innovation</td>
                            <td>Reviewed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Sustainablity</td>
                            <td>In Progress</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                        <tr>
                            <td>ABC Company</td>
                            <td>Corporate Social Responsiblity</td>
                            <td>Completed</td>
                            <td><a href="@Url.Action("Report", "Assessor")">View Report</a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-reload"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>