<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Investor Award</title>
    <link rel="icon" href="~/Images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i&amp;subset=arabic" rel="stylesheet">
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tablecss")
    @Styles.Render("~/Content/bootstrap/rtl")
</head>
<body>

        <div class="wrapper">
            <div class="sidebar" data-background-color="black" data-active-color="primary">

                <!--
                    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
                -->

                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")" class="simple-text">
                            <img src="~/Images/logo.png" />
                        </a>
                    </div>
                    <ul class="nav">
                        <li class="">
                            <a href="@Url.Action("Index", "Home")">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("FinalNominees", "Home")">
                                <i class="ti-check"></i>
                                <p>Final Nominees</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar bar1"></span>
                                <span class="icon-bar bar2"></span>
                                <span class="icon-bar bar3"></span>
                            </button>
                            <a class="navbar-brand" href="#">Dashboard</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-panel"></i>
                                        <p>Stats</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-bell"></i>
                                        <p class="notification">5</p>
                                        <p>Notifications</p>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-world"></i>
                                        <p>العربية</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-user"></i>
                                        <p>Admin</p>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Login", "Login")">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>


                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>


                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>

                                <li>
                                    <a href="http://arabinvestorawards.com/">
                                        Arab Investor Award
                                    </a>
                                </li>
                                <li>
                                    <a href="http://arabinvestorawards.com/newsletter/">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://arabinvestorawards.com/">
                                        Guidelines
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script>, Designed &amp; Powered by <a href="http://www.msf.ae">MSF Management Consultants FZ</a>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/arabinvestor")
        @Scripts.Render("~/bundles/datatablejs")
        @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
<script>
       
    $(document).ready(function () {
        var grid = $('#myTable').DataTable({
            "info": false,
        });

        // Reload on record filter radio button clicks
        $(document).on("click", "#record-filters", function () {
            grid.draw();
        });

        // Reload on record filter radio button clicks
        $(document).on("click", "#record-filters", function () {
            grid.draw();
        });

        var toggleActive = function (activate) {
            //return; // uncomment this line to see the de-coupled (broken) Bootstrap state

            // de-activate any existing selection
            $('#record-filters').find('.btn-primary').each(function (index, element) {
                $(element).removeClass('active');
            });
            activate.addClass('active');
        }

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var Completed = $('#gridDisplayCompleted')[0].checked;
                var Progress = $('#gridDisplayProgress')[0].checked;
                var Reviewed = $('#gridDisplayReviewed')[0].checked;
                var all = $('#gridDisplayAll')[0].checked;
                console.log("data[0]:" + data[0]);
                console.log("data[1]:" + data[1]);
                console.log("data[2]:" + data[2]);
                console.log("Completed:" + Completed);
                console.log("Progress:" + Progress);
                console.log("Reviewed:" + Reviewed);
                console.log("all:" + all);
                var condition = String(data[1]); // check condition
                if (all) {
                    toggleActive($('#gridDisplayAllLabel'));
                    console.log("all clicked");
                    return true;
                } else if (Completed) {
                    toggleActive($('#gridDisplayCompleted'));
                    console.log("Completed clicked");
                    return ("Completed" == condition);
                } else if (Progress) {
                    toggleActive($('#gridDisplayProgress'));
                    console.log("Progress clicked");
                    return ("In Progress" == condition);
                } else if (Reviewed) {
                    toggleActive($('#gridDisplayReviewed'));
                    console.log("Reviewed clicked");
                    return ("Reviewed" == condition);
                }
                return false;
            }
        );

    });

</script>
</html>
