<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Investor Award</title>
    <link rel="icon" href="~/Images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i&amp;subset=arabic" rel="stylesheet">
    @Styles.Render("~/Content/logincss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap/loginrtl")


</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
