<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Investor Award</title>
    <link rel="icon" href="~/Images/favicon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/tablecss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap/rtl")

</head>
<body>
    <body>

        <div class="wrapper">
            <div class="sidebar" data-background-color="black" data-active-color="primary">

                <!--
                    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
                -->

                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="@Url.Action("Questionnaire", "User")" class="simple-text">
                            <img src="~/Images/logo.png" />
                        </a>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="@Url.Action("Dashboard", "User")">
                                <i class="ti-dashboard"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CompanyBrief", "User")">
                                <i class="ti-briefcase"></i>
                                <p>Company Brief</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CompanyStrategy", "User")">
                                <i class="ti-light-bulb"></i>
                                <p>Company Strategy</p>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Questionnaire", "User")">
                                <i class="ti-pencil"></i>
                                <p>Questionnaire</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar bar1"></span>
                                <span class="icon-bar bar2"></span>
                                <span class="icon-bar bar3"></span>
                            </button>
                            <a class="navbar-brand" href="#">Dashboard</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-panel"></i>
                                        <p>Stats</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-bell"></i>
                                        <p class="notification">5</p>
                                        <p>Notifications</p>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-world"></i>
                                        <p>العربية</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-user"></i>
                                        <p>Username</p>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Login", "Login")">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>


                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>


                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>

                                <li>
                                    <a href="http://arabinvestorawards.com/">
                                        Arab Investor Award
                                    </a>
                                </li>
                                <li>
                                    <a href="http://arabinvestorawards.com/newsletter/">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://arabinvestorawards.com/">
                                        Guidelines
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script>, Designed &amp; Powered by <a href="http://www.msf.ae">MSF Management Consultants FZE</a>
                        </div>
                    </div>
                </footer>

            </div>
        </div>


    </body>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/arabinvestor")
    @Scripts.Render("~/bundles/datatablejs")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript">
    $(document).ready(function () {

        demo.initChartist();

    });
</script>
</html>
